<article>
    <div class="content-container">
        <div class="about-me">
            <div class="title">
                <h1>About me</h1>
            </div>
            <div class="grid">
                <div class="me">
                    <img src="/assets/images/me.jpg">
                    <span>Manuel König</span>
                </div>
                <div class="de text">
                    <h2>🇩🇪</h2>
                    <p>Hi, Ich bin Manuel. Ich studiere Elektro- und Informationstechnik an der <a href="https://www.htwg-konstanz.de/">HTWG Hochschule Konstanz</a> und arbeite in meiner Freizeit als Veranstaltungstechniker in der Region Baden-Württemberg.</p>
                    <p>Primär beschäftige ich mich mit der Planung und Umsetzung von temporären Netzwerklösungen auf Festivals und sonstigen Veranstaltungen.<br>Aber auch die Theater-Beleuchtung ist eine Leidenschaft von mir. </p>
                    <p>Eine Auswahl vergangener Jobs gibt es <a href="/Veranstaltungstechnik">hier</a> zu sehen.</p>
                    <p>Ich freue mich darauf, mit Ihnen an Ihrem Projekt zu arbeiten: <a href="/about#Impressum">event [at] manuel-koenig.de</a></p>
                </div>
                <div class="en text">
                    <h2>🇬🇧</h2>
                    <p>Hi, I’m Manuel. I am studying electrical Engineering and Computer Science at the <a href="https://www.htwg-konstanz.de/">University of Applied Sciences Hochschule Konstanz</a>.<br>This Web-page documents some of my Hobby projects. Unfortunately, the page has been somewhat neglected, especially with regard to hardware projects.</p>
                    <p>I also work as a event technician in the Baden-Württemberg region.<br>Feel free to contact me about your Projects.<br>For a overview of past events i worked at see my <a href="/Veranstaltungstechnik">Veranstaltungstechnik</a> page.</p>
                </div>
            </div>
        </div>
    </div>
</article>