<article>
    <h2>Projects:</h2>
    <div class="projects">
        <div>
            <a href="https://www.printables.com/model/747869-pencil-case" class="project">
                <div class="box box-image">
                    <h3>Pencil Case</h3>
                    <div class="text">
                        <p>Pencil Case with sliding lid Remixed Pencil Case by GurgleApps Now with Rounded Corners</p>
                    </div>
                    <div class="badge">
                        <img alt="Printables" src="http://silicon.x42.space/badge/PRINTABLES-FA6831?style=for-the-badge&amp;logo=printables&amp;logoColor=white">
                        <img alt="Thingiverse" src="http://silicon.x42.space/badge/THINGIVERSE-248BFB?style=for-the-badge&amp;logo=thingiverse&amp;logoColor=white">
                    </div>
                    <div class="thumb" >
                        <img class="fill" width="300px" height="200px" src="assets/images/thumbnail/pencil_case.jpg">
                    </div>
                </div>
            </a>
        </div>
        <div>
            <a href="https://github.com/Xilef12000/CLIQuest3D" class="project">
                <div class="box">
                    <h3>CLIQuest3D</h3>
                    <div class="text">
                        <p>A Terminal Based 3D Ego Shooter</p>
                    </div>
                    <div class="badge">
                        <img alt="Linux" src="http://silicon.x42.space/badge/Linux-FCC624?style=for-the-badge&amp;logo=linux&amp;logoColor=black">
                        <img alt="C" src="http://silicon.x42.space/badge/C-A8B9CC?style=for-the-badge&amp;logo=c&amp;logoColor=black">
                        <img alt="Stars" src="http://silicon.x42.space/github/stars/Xilef12000/CLIQuest3D?style=for-the-badge">
                    </div>
                </div>
            </a>
        </div>
        <a href="/projects">see more...</a>
    </div>
</article>