<article>
    <h2>Meshtastic Nodes:</h2>
    <table class="LoRa">
        <tr>
            <th>HEX-ID:</th>
            <th>Hardware:</th>
            <th></th>
            <th>Short Name:</th>
            <th>Meshmap:</th>
        </tr>
        <tr>
            <td>!335c2ba0</td>
            <td>HELTEC_V3</td>
            <td><img src="/assets/images/HELTEC_V3.png" class="List-Img"></td>
            <td>x42</td>
            <td><a href="https://meshtastic.liamcottle.net/?node_id=861678496">https://meshtastic.liamcottle.net/?node_id=8616784966</a></td>
        </tr>
        <tr>
            <td>!363362e</td>
            <td>RPI_PICO (W)</td>
            <td><img src="/assets/images/RPI_PICO.png" class="List-Img"></td>
            <td>x42t</td>
            <td><a href="https://meshtastic.liamcottle.net/?node_id=56833582">https://meshtastic.liamcottle.net/?node_id=56833582</a></td>
        </tr>
        <tr>
            <td>!ed4bf662</td>
            <td>T-Echo</td>
            <td><img src="/assets/images/T_ECHO.png" class="List-Img"></td>
            <td>manu</td>
            <td><a href="https://meshtastic.liamcottle.net/?node_id=3981178466">https://meshtastic.liamcottle.net/?node_id=3981178466</a></td>
        </tr>
    </table>
</article>