<article>
    <h2>Veranstaltungstechnik:</h2>
    <div class="VT">
        <div class="Event">
            <div class="desciption">
                <div class="text">
                    <h3>Theater Hochschule Konstanz</h3>
                    <p>Das Böse kommt auf leisen Sohlen - Theater Hochschule Konstanz & Musikschule Konstanz<br>Livestream der <a href="https://www.youtube.com/watch?v=dFg95mCTO1s">Première</a> & <a href="https://www.youtube.com/watch?v=2lY7N5bbXIs">Dernière</a></p>
                </div>
                <div class="gallery">
                    <div class="Img_small mobile"><img src="/assets/images/VT/Das_Boese_kommt/149_Das_Boese_kommt_7096.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Das_Boese_kommt/199_Das_Boese_kommt_7538.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Das_Boese_kommt/207_Das_Boese_kommt_7671.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Das_Boese_kommt/240_Das_Boese_kommt_5398.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Das_Boese_kommt/285_Das_Boese_kommt_5683.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Das_Boese_kommt/361_Das_Boese_kommt_8725.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Das_Boese_kommt/409_Das_Boese_kommt_9052.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Das_Boese_kommt/461_Das_Boese_kommt_9613.jpg"></div>
                </div>
            </div>
            <div class="image">
                <img src="/assets/images/VT/Das_Boese_kommt/149_Das_Boese_kommt_7096.jpg">
            </div>
        </div>
        <div class="Event">
            <div class="desciption">
                <div class="text">
                    <h3>Theater Hochschule Konstanz</h3>
                    <p>Katastrophales Vergessen - Theater Hochschule Konstanz<br> Livestream der <a href="https://www.youtube.com/watch?v=7-FhqMrSl2o">Dernière</a></p>
                </div>
                <div class="gallery">
                    <div class="Img_small mobile"><img src="/assets/images/VT/Katastrophales_Vergessen/413_Katastrophales_Vergessen_6902.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Katastrophales_Vergessen/286_Katastrophales_Vergessen_1074.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Katastrophales_Vergessen/477_Katastrophales_Vergessen_7050.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Katastrophales_Vergessen/481_Katastrophales_Vergessen_7147.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Katastrophales_Vergessen/511_Katastrophales_Vergessen_3725.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Katastrophales_Vergessen/517_Katastrophales_Vergessen_2498.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Katastrophales_Vergessen/526_Katastrophales_Vergessen_2519.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Katastrophales_Vergessen/111_Katastrophales_Vergessen_3006.jpg"></div>
                </div>
            </div>
            <div class="image">
                <img src="/assets/images/VT/Katastrophales_Vergessen/413_Katastrophales_Vergessen_6902.jpg">
            </div>
        </div>
        <div class="Event">
            <div class="desciption">
                <div class="text">
                    <h3>Theater Hochschule Konstanz</h3>
                    <p>🖼️ ausgestellt 🕵️‍♀️ Ein Krimi des Theater Hochschule Konstanz<br>Livetsream der <a href="https://www.youtube.com/watch?v=T34jdSU4K3Y">3. Show</a></p>
                </div>
                <div class="gallery">
                    <div class="Img_small mobile"><img src="/assets/images/VT/Ausgestellt/107_Ausgestellt_6238.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Ausgestellt/119_Ausgestellt_6350.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Ausgestellt/151_Ausgestellt_6817.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Ausgestellt/154_Ausgestellt_6832.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Ausgestellt/179_Ausgestellt_7133.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Ausgestellt/196_Ausgestellt_7308.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Ausgestellt/237_Ausgestellt_7844.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Ausgestellt/256_Ausgestellt_8188.jpg"></div>
                    <div class="Img_small"><img src="/assets/images/VT/Ausgestellt/295_Ausgestellt_8439.jpg"></div>
                </div>
            </div>
            <div class="image">
                <img src="/assets/images/VT/Ausgestellt/107_Ausgestellt_6238.jpg">
            </div>
        </div>
    </div>
    <div class="modal" id="Modal">
        <span class="close">&times;</span>
        <img class="content" id="img01">
    </div>
</article>