<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head', {title:"404"}); %>
	<script defer src="/assets/scripts/404.js" type="text/javascript"></script> 
</head>
<body>
	<%- include('partials/header'); %>
	<%- include('article/404.html'); %>
	<%- include('partials/footer'); %>
</body>
</html>