<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.html'); %>
	<meta name="title" content="About Me" />
</head>
<body>
	<%- include('partials/header'); %>
	<%- include('article/about-me.html'); %>
	<%- include('partials/footer.html'); %>
</body>
</html>