<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head', {title:"about"}); %>
</head>
<body>
	<%- include('partials/header'); %>
	<%- include('article/about-me.html'); %>
	<%- include('partials/footer'); %>
</body>
</html>