<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head', {title:"about"}); %>
	<script defer src="/assets/scripts/about.js" type="text/javascript"></script>
</head>
<body>
	<%- include('partials/header'); %>
	<article>
		<div class="content-container">
			<h1 id="about">About:</h1>
			<h3 id="legal-information">Legal Information:</h3>
			<p>This website is operated from Germany and is therefore regulated by German law. According to <a href="https://www.gesetze-bayern.de/Content/Document/MStV-18">§ 18 Medienstaatsvertrag</a>, websites that serve &quot;exclusively personal or family purposes&quot; do not require a legal notice.</p>
			<h3 id="cookies">Cookies:</h3>
			<p>This page uses Cookies to store whether the user wants to load external content automatically.<br>The Cookies have no lifespan, meaning they get deleted, when the current session is closed (when you close your browser).<br>To delete the Cookies manually go to the <a href="#settings">Settings</a>.</p>
			<h3 id="readmelicense">README/License:</h3>
			<p><a href="https://github.com/Xilef12000/x42.space/blob/main/README.md">README/License</a></p>
			<h3 id="contact">Contact:</h3>
			<p>Email:<br>webmaster [at] xilef12000.com</p>
			<h3 id="our-domains">Our Domains:</h3>
			<p><a href="https://Xilef12000.com/">https://Xilef12000.com/</a> (incl. all subdomains)<br><a href="https://Xilef12000.de/">https://Xilef12000.de/</a> (incl. all subdomains)<br><a href="https://manuel-koenig.de/">https://manuel-koenig.de/</a> (incl. all subdomains)<br><a href="https://x42.space/">https://x42.space/</a> (incl. all subdomains)<br><a href="https://Xilef12000.github.io/">https://Xilef12000.github.io/</a></p>
			<h3 id="hosting">Hosting:</h3>
			<p>All static elements are hosted using <a href="https://pages.github.com/">Github Pages</a>.<br>Domain redirects and E-mail services are running on <a href="https://www.strato.de/">Strato</a> servers.</p>
			<div id="settings">
				<h2>Settings:</h2>
				<h3>Cookies:</h3>
				<pre><div id="currentCookies">list of current Cookies</div></pre>
        <br>
				<button type="button" onclick="deleteAllCookies()">Delete all Cookies</button> 
			</div>
      <br>
      <br>
			<h2>© 2023 - <span id="currentYear">until now</span> by <a href="/about-me">Xilef12000</a></h2>
		</div>
	</article>
	<%- include('partials/footer'); %>
</body>
</html>