<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head', {title:"Home"}); %>
</head>
<body>
	<%- include('partials/header', {title:"Home"}); %>
	<%- include('article/index.html'); %>
	<%- include('partials/footer'); %>
</body>
</html>