<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head', {title:"Projects"}); %>
</head>
<body>
	<%- include('partials/header', {title:"Projects"}); %>
	<%- include('article/projects.html'); %>
	<%- include('partials/footer'); %>
</body>
</html>