<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.html'); %>
	<meta name="title" content="Projects" />
</head>
<body>
	<%- include('partials/header.html'); %>
	<%- include('article/projects.html'); %>
	<%- include('partials/footer.html'); %>
</body>
</html>