<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head', {title:"grandMA2_Lissaious_Form_Effect"}); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <%- include('article/grandMA2_Lissaious_Form_Effect.html'); %>
    <%- include('../partials/footer.html'); %>
</body>
</html>