<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head', {title:"grandMA2_Lissaious_Form_Effect"}); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <article>
        <h1 id="lissaious-form-for-ma2-effects">Lissaious Form for MA2 Effects</h1>
        <p><strong>This importable Form for MA2 adds a Lissaious Form as seen in the image</strong></p>
        <p>File: <a href="/assets/downloads/Lissaious.xml" download="Lissaious.xml">Lissaious.xml</a></p>
        <p><img alt="image" src="/assets/images/Lissaious_Graph_Editor.png" /></p>
        <ol>
            <li>
                <p>
                    Copy <a href="/assets/downloads/Lissaious.xml" download="Lissaious.xml">this file</a> into your importexport directory<br />
                    (most likely <code>C:\ProgramData\MA Lighting Technologies\grandma\gma2_V_x.x.xx\importexport</code> replace <code>x.x.xx</code> with your version number)
                </p>
            </li>
            <li>
                <p>
                    Import the file:<br />
                    <code>Import "Lissaious" At Form [Form ID]</code><br />
                    for example into field 24:<br />
                    <code>Import "Lissaious" At Form 24</code>
                </p>
            </li>
        </ol>
        <p><strong>Note:</strong> i developed the Lissaious Form in MA2 onPC Version 3.9.60</p>
    </article>
    <%- include('../partials/footer.html'); %>
</body>
</html>