<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.html'); %>
	<meta name="title" content="grandMA2 Lissaious Form Effect" />
</head>
<body>
    <%- include('../partials/header.html'); %>
    <%- include('article/grandMA2_Lissaious_Form_Effect.html'); %>
    <%- include('../partials/footer.html'); %>
</body>
</html>