@font-face {
    font-family: 'inter-black';
    src: url('Fonts/Inter-Black.woff2') format('woff'),
    url('Fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('Fonts/Raleway.woff2') format('woff'),
    url('Fonts/Raleway.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'spacemono';
    src: url('Fonts/SpaceMono.woff2') format('woff'),
    url('Fonts/SpaceMono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
:root {
    --color-bg: #1c1b22;
    --color-1: #04165d;
    --color-2: #29c4f8;
    --color-3: #ffffff;
    --color-4: #4af3f8;
    --color-5: #3cd2f9;
    --color-6: #0950cd;
    --color-text: #fbfbfe;
    --transition: 0.25s;
    color-scheme: dark !important;
}
body, html {
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 0px;
    margin: 0px;
    top:0px;
    font-family: raleway, Arial, Helvetica, sans-serif;
}
div {
    padding: 0px;
    margin: 0px;
}
a {
    color: var(--color-6);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}
.start-screen{
    position: flex;
    height: 100vh;
    background-color: var(--color-bg);
}
.start-screen .start-text-1 {
    transform: translate(-48%, -48%);
    color: var(--color-6);
}
.start-screen .start-text-2 {
    transform: translate(-52%, -52%);
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px var(--color-4)
}
.start-screen .start-text-3 {
    transform: translate(-50%, -50%);
    background: repeating-linear-gradient(
    45deg,
    var(--color-5),
    var(--color-5) 2px,
    rgba(0,0,0,0) 2px,
    rgba(0,0,0,0) 8px
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.start-screen .start-text {
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: inter-black, Arial, Helvetica, sans-serif;
    font-size: min(16vw, 80vh);
    font-weight: 900;
    letter-spacing: -0.6vw;
}
.start-screen .start-poly-1 {
    transform: translate(-50%, -50%);
    background-color: var(--color-2);
    width: 9ch;
    height: 2ex;
    display:inline-block;
    display: none;
    --top-left:40px;
    --all:0px;
    -webkit-mask:
    linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,#fff 0) bottom left,
    linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),#fff 0) bottom right,
    linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,#fff 0) top left,
    linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,#fff 0) top right;
    -webkit-mask-size:50.5% 50.5%;
    -webkit-mask-repeat:no-repeat;
    border-left: 0.5rem solid black;
    border: 0.5rem solid black;
}
.start-screen .start-poly {
    font-size: min(16vw, 80vh);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    top: 50%;
    left: 50%;
}
.start-screen-small{
    position: flex;
    height: max(14vh, 4rem);
    background-color: var(--color-bg);
}
.start-screen-small .start-text-1 {
    transform: translate(-48%, -48%);
    color: var(--color-6);
}
.start-screen-small .start-text-2 {
    transform: translate(-52%, -52%);
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px var(--color-4)
}
.start-screen-small .start-text-3 {
    transform: translate(-50%, -50%);
    background: repeating-linear-gradient(
    45deg,
    var(--color-5),
    var(--color-5) 2px,
    rgba(0,0,0,0) 2px,
    rgba(0,0,0,0) 8px
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.start-screen-small .start-text {
    font-size: min(16vw, 80vh, 6rem);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    top: 0.64em;
    left: 50%;
    font-family: inter-black, Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: -0.6vw;
}
#menu-toggle {
    display: none;
}
.menu-button-container {
    font-size: 1rem;
    z-index: 10;
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 1em;
    left: 1em;
    width: 2em;
    height: 2em;
    transition: left 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-button, .menu-button::before, .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0.87em;
    height: 0.25em;
    width: 2em;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 1em;
}
.menu-button::before {
    content: '';
    top: -0.5em;
}
.menu-button::after {
    content: '';
    top: 0.5em;
}
#menu-toggle:checked + .menu-button-container {
    left: calc(min(max(20vw,28ch), 100vw) - 2.2rem - 1rem);
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
    top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    top: 0px;
    transform: rotate(-405deg);
}
.menu {
    font-size: 2rem;
    z-index: 8;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
}
#menu-toggle ~ .menu {
    width: 0;
    transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu {
    width: min(max(20vw,14ch), 100vw);
    transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
    cursor: pointer;
    margin: 0.6em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: white;
    --cut: 0.6em;
    -webkit-clip-path: polygon(0% var(--cut), var(--cut) 0, 100% 0, 100% calc(100% - var(--cut)), calc(100% - var(--cut)) 100%, 0 100%, 0 100%);
    background-color: var(--color-4);
    border-radius: calc(var(--cut) / 4);
}
.menu > li a {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.menu > li:first-child{
    margin-top: 4rem;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100vw;
    max-width: 1400px;
    justify-content: center;
}
#cards:hover > .card::after {
    opacity: 1;
}
.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    height: 24vh;
    max-height: 300px;
    min-height: 250px;
    flex-direction: column;
    position: relative;
    width: 40vw;
    max-width: 400px;
    min-width: 300px;
}
.card:hover::before {
    opacity: 1;
}
.card::before, .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}
.card::before {
    background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
    );
    z-index: 3;
}
.card::after {  
    background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
    );
    z-index: 1;
}
.card > .card-content {
    background-color: color-mix(in srgb, rgb(23, 23, 23), var(--color-bg));
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 1rem;
    position: absolute;
    z-index: 2;
}
.splitflap {
    font-family: spacemono, "DejaVu Sans Mono", monospace;
    color: white;
}
.splitflap:hover {
    background-color: white;
    color: black;
}
.center {
    justify-content: center;
    display: block;
    width: 100%;
}
.center > * {
    margin: auto;
    display: flex;
}
.content-container {
    justify-content: row;
    width: 60vw;
    max-width: 960px;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}
.content-container > * {
    width: 100%;
}
.br {
    height: 1em;
}