<footer class="footer">
	<div class="limiter">
		<div class="block" id="Services">
			<h3>Services</h3>
			<a href="http://hydrogen.x42.space/">Cloud</a>
			<a href="http://radium.x42.space/.web/">Radicale</a>
			<a href="http://silicon.x42.space/">Shields.io</a>
			<a href="http://neon.x42.space/">Git</a>
		</div>
		<div class="block" id="Social">
			<h3>Social media</h3>
			<a href="https://github.com/Xilef12000/">Github</a>
            <a href="https://www.printables.com/@Xilef12000_1755152">Printables</a>
			<a href="https://www.thingiverse.com/xilef12000/designs">Thingiverse</a>
			<a href="https://www.instructables.com/member/Xilef12000/">Instructables</a>
            <a href="https://www.youtube.com/@xilef12000">Youtube</a>
		</div>
		<div class="footer-right" id="about">
			<div class="block">
				<h3>About</h3>
				<a href="/about">about</a>
				<a href="/about-me">about me</a>
			</div>
		</div>
	</div>
</footer>