<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>x42.space | <%= typeof title != 'undefined' ? title : '' %></title>
<link rel="stylesheet" href="/assets/styles/style.css">
<link rel="stylesheet" href="/assets/styles/fonts.css">