<header class="header"  id="header">
	<div class="limiter">
		<a href="/" class="logo">
			<h1><span class="blue">x42</span>.space</h1>
		</a>
		<button class="dropbtn" onclick="header_fold()">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="bars"><path fill="#undefined" d="M3,8H21a1,1,0,0,0,0-2H3A1,1,0,0,0,3,8Zm18,8H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Zm0-5H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z"></path></svg>
		</button>
		<div class="header-right">
			<span>
				<a id="href-Home" href="/">
					<h2>Home</h2>
				</a>
				<a id="href-Projects" href="/projects">
					<h2>Projects</h2>
				</a>
				<a id="href-Veranstaltungstechnik"href="/Veranstaltungstechnik">
					<h2>Veranstaltungstechnik</h2>
				</a>
				<a id="href-LoRa"href="/LoRa">
					<h2>LoRa</h2>
				</a>
			</span>
			<br class="br_opt">
		</div>
	</div>
</header>